<div class="hwt-container-row">
  <div class="hwt-row-detail">
    <div class="hwt-row-step">Step <%= step %></div>
    <div class="hwt-row-heading"><%= title %></div>
    <img src="image/<%= image %>" alt="">
    <div class="hwt-row-para">
      <%= para %>
    </div>
    <div class="hwt-heading-button">
        <button>Sign in with us</button>
        <p class="next-step"></p>
    </div>
  </div>
  <div class="hwt-row-image">
    <img src="image/<%= image %>" alt="">
  </div>
</div>
